[Unit]
Description={{ app_name }}
After=network.target
 
[Service]
Type=simple

WorkingDirectory={{ app_work_directory }}

ExecStart=bundle exec puma -b unix:///var/run/puma.sock -e $RAILS_ENV bundle {{ app_work_directory }}/config.ru


TimeoutSec=10
Restart=always

[Install]
WantedBy=multi-user.target

